{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  </head>
  <body>
    {% if not request.path == '/login/' and not request.path == '/register/' %}
        {% include 'navbar.html' %}
    {% endif %}
    {% block content %}{% endblock content %}

    <!-- Mobile Menu Toggle Script -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const btn = document.querySelector(".mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");
        if (btn && menu) {
          btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
          });
        }
      });
    </script>
  </body>
</html>
